</div>
<div class="clear"></div>
<div class="footer-padding"></div>
<div class="footer">
  <p>© 2022 Copyright Stavros Lioulias</p>
</div>
</div>

<script>
  function getDate() {
    const today = new Date();
    const options = {
      weekday: "long",
      day: "numeric",
      month: "long"
    };
    return today.toLocaleDateString("en-US", options);
  };
  document.getElementById("cur-date").innerHTML = getDate();
  console.log(getDate());
</script>
</body>

</html>
