<%- include("partials/header") -%>

<h2>About</h2>

<p>Thanks for visiting my page. My name is Stavros and I'll be posting awesome stuff here on a regular basic, so make sure to check this page often and add it in your bookmarks!</p>

<%- include("partials/footer") -%>
