<%- include("partials/header") -%>

<h2>Error 404 - Page Not Found</h2>

<div class = "error-img">
  <img src="https://www.nicepng.com/png/detail/221-2215035_404doge-doge-404.png" class = "error-img" alt="" width="105%">
</div>

<div class="error-pg-btn">
<a href="/" class="btn btn-primary btn-md" role="button" aria-pressed="true"><i class="fa-solid fa-arrow-left fa-md"></i> Homepage</a>
</div>

<%- include("partials/footer") -%>
