.navbar {
  padding: 1% 0%;
  border: 0;
  border-radius: 0;
  margin-bottom: 1%;
  letter-spacing: 5px;
}

.footer {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #6c757d;
  position: fixed;
  bottom: 0;
}

.footer p {
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
}

p {
  line-height: 1.4;
  padding-bottom: 10px;
  font-family: Georgia, serif;
  font-size: 1.1rem;
}

h1, h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 2%;
}

h2 a:link {
  text-decoration: none;
  color: black;
}

h2 a:link:hover {
  text-decoration: underline;
}

h2 a:visited {
  color: black;
}

.form-control {
  white-space: pre-line;
  white-space: pre-wrap;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}

.container {
  padding: 0% 8%;
}

.navbar-brand {
  color: white;
}

.clear {
  clear: both;
  height: 80px;
}

.submit-content-btn {
  margin-top: 1%;
}

.admin-buttons, .dateDiv {
  display: inline;
  float: right;
}

.user-buttons {
  display: inline;
  float: left;
}

.line-above-icons {
  margin-top: 3%;
}

.edit-page-btns, .post-footer {
  margin-top: 1%;
}

.social-media-icon {
  margin: 1% 1%;
  color: #343a40;
}

.social-media-icons {
  display: inline;
}

.dateText {
  display: inline;
  font-size: 1rem;
}

.page-title {
  font-size: 1.4rem;
}

.post-btn {
  margin-bottom: 1%;
}

.social-media-icon-homepage {
  margin: 1% 1%;
  color: #ffff;
}

.error-img {
  text-align: center;
}

.error-pg-btn, .input-err-alert-edit-page {
  margin: 1% 0;
}

.navbar-date {
font-size: 0.8rem;
padding-bottom: 1.5%;
}

.add-btn {
  margin: 2.5% 0%;
}

.contact-form-text {
  margin-top: 1%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

#contact-pg-main {
  padding: 0% 0%;
  text-align:center;
}

#curDate {
  padding-top:2%;
}

.contact-header {
  text-align: center;
}

.input-err-alert {
margin: 1% 17%;
}

.input-err-alert-compose-page {
margin: 1% 0%;
}
