body {
  background-color: #f3f2ef;
}

.nav-menu {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
  letter-spacing: 5px;
}

.footer {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #6c757d;
  position: fixed;
  bottom: 0;
}

.footer p {
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
}

p {
  line-height: 1.4;
  padding-bottom: 10px;
  font-family: Georgia, serif;
  font-size: 1.1rem;
}

h1, h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 2%;
}

h2 a:link {
  text-decoration: none;
  color: black;
}

h2 a:link:hover {
  text-decoration: underline;
}

h2 a:visited {
  color: black;
}

.form-control {
  white-space: pre-line;
  white-space: pre-wrap;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}

.container {
  padding: 0% 8%;
}

.navbar-brand {
  color: white;
}

.clear {
  clear: both;
  height: 80px;
}

.submit-content-btn {
  margin-top: 1%;
}

.date-div {
  float: right;
}

.user-buttons {
  float: left;
}

.line-above-icons {
  margin-top: 3%;
}

.edit-page-btns, .post-footer {
  margin-top: 1%;
}

.social-media-icon {
  margin: 1% 1%;
  color: #343a40;
}

.social-media-icons {
  display: inline;
}

.dateText {
  display: inline;
  font-size: 1rem;
}

.page-title {
  font-size: 1.4rem;
}

.post-btn {
  margin-bottom: 1%;
}

.error-img, .contact-header, .icons-contact-pg {
  text-align: center;
}

.error-pg-btn, .input-alert-edit, .input-alert-compose {
  margin: 1% 0;
}

.navbar-date {
  font-size: 0.8rem;
  padding-bottom: 1.5%;
}

.add-btn {
  margin: 2.5% 0%;
}

.contact-pg-main {
  padding: 0% 15%;
}

.cur-date {
  padding-top: 2%;
}

.input-err-alert {
  margin: 1.5% 0%;
}

.form-control {
  margin-bottom: 1%;
}

.icon-contact-pg {
  margin: 1% 3%;
  color: #343a40;
}

.hr-contact-pg {
  margin-top: 4%;
}

.social-md-contact-pg {
  padding: 0 0;
  font-family: Georgia, serif;
  font-size: 1.1rem;
}

.short-text {
  display: none;
}

.user-btns {
  text-align: left;
}

.admin-btns {
  text-align: right;
}

.line-post-pg {
  margin: 0% 0% 2%
}


/* Responsive design for the contact page */
@media only screen and (max-width: 992px) and (min-width: 765px) {
  .icon-contact-pg {
    margin: 2% 2%;
  }

  .contact-header {
    margin: 3% 0%;
  }
}

@media only screen and (max-width: 767px) {
  .icons-contact-pg {
    padding: 4% 0%;
    text-align: center;
  }
  .contact-header {
    padding: 3% 0%;
  }
  .cur-date {
    display: none;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .full-text {
    display: none;
  }
  .short-text {
    display: inline-block;
  }
}

@media only screen and (max-width: 576px) {
  .full-text {
    display: none;
  }
  .short-text {
    display: inline-block;
  }
  .contact-header {
    padding: 3% 0%;
  }
  .icons-contact-pg {
    padding: 1% 0%;
    text-align: left;
  }
}

/* Responsive design for the Post page */

@media only screen and (max-width: 1200px) {
  .social-media-icon {
    margin-left: 3%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .user-btns {
    text-align: center;
    margin: 1% 0% 1% 0%;
  }
  .admin-btns {
    text-align: center;
    margin: 1% 0% 1% 0.5%;
  }
}

@media only screen and (max-width: 576px) {
  .admin-btns {
    display: none;
  }
  .user-btns {
    text-align: center;
  }
}
